/* Set primary color */
:root {
  --primary-color: #3F4E63;
}

/* Set font family */
body {
  font-family: 'Helvetica Neue', sans-serif;
}

/* Customize Streamlit elements */
.streamlit-button {
  background-color: var(--primary-color) !important;
  border-radius: 0px;
  border: none;
}

/* Customize the Streamlit sidebar */
.stSidebar > div:first-child {
  background-image: url(logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 40px;
}

/* Customize the Streamlit sidebar text */
.stSidebar > div:first-child p {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.css-184tjsw.e16nr0p34 {
  color: #fff;
}